<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="BookShopDb" connectionString="Host=localhost;Port=5432;Database=BookShopDb;Username=postgres;Password=b6i4nhchem" />
		<add name="BookShopDb2" connectionString="XpoProvider=SQLite;Data Source=C:\Users\bochi\source\repos\BookShopApp\BookShopDb" />
        <add name="localhost_Connection" connectionString="XpoProvider=SQLite;Data Source=C:\Users\bochi\source\repos\BookShopApp\BookShopDb" />
        <add name="BookShopDb1" connectionString="XpoProvider=SQLite;Data Source=C:\Users\bochi\source\repos\BookShopApp\bin\Debug\net6.0-windows\BookShopDb" />
        <add name="BookShopDb_1" connectionString="XpoProvider=SQLite;Data Source=C:\Users\bochi\source\repos\BookShopApp\bin\Debug\net6.0-windows\BookShopDb" />
    </connectionStrings>
</configuration>